.login {
    background-color: #1680F8;
}
.logo {
    min-height: 110px;
    margin-right: 10px;
    margin-left: 10px;
}
/* .boton:hover {
    color: #FF000A;
} */
.letraGrande {
    font-size: 2vw;
}
.letraGeneral {
    font-size: 1.5vw;
}
.letraPequeña {
    font-size: 1vw;
}
.letras3 {
    color: #112E76;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
.tituloColor {
    color: #122e75;
}
.bold {
    font-weight: bold;
}
.mayuscula {
    text-transform: uppercase;
}
.form {
    border-radius: 12px;
    background-color: white;
}
.form {
    box-shadow: -15px 15px 10px 5px rgba(0, 0, 0, 0.2);
}
.texto-inicio {
    color: black;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.texto-trial {
    color: #fff;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.textoLoginGratis {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #ff000A, 0 0 20px#ff000A, 0 0 30px#ff000A, 0 0 40px#fff, 0 0 70px#fff, 0 0 80px#fff, 0 0 100px #fff, 0 0 150px #fff;
    }
    to {
        text-shadow: 0 0 5px #ff000A, 0 0 10px #ff000A, 0 0 15px #ff000A, 0 0 20px #fff, 0 0 35px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
    }
}
@media screen and (max-width:600px) {
    .textoLoginGratis {
        font-size: 5vw;
    }
}

#ErrorForm {
    color: #ff000A;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.input-group:hover {
    border: none;
    border-bottom: 2px solid #ff000A;
    /* border-radius: 7px; */
}
.inputError {
    border: none;
    border-bottom: 2px solid #ff000A;
    border-radius: 7px;
}
.input-group span, .input-group:hover span {
    background-color: #fff;
    border: 0px;
    margin: 0px;
}
.box {
    position: relative;
}
input {
    color: #112E76;
    font-size: 1em;
    background: #fff;
    border-radius: 4px;
    outline: none;
    width: 100%;
    padding: 10px;
}
.input {
    outline: none;
    border: none;
    border-bottom: 2px solid #112E76;
    /* border-radius: 7px; */
}
.input span svg {
    color: #112E76;
}
.input:hover span svg {
    color: #ff000A;
}
label {
    position: absolute !important;
    left: 0 !important;
    color: #112E76 !important;
    pointer-events: none !important;
    padding: 7px !important;
    transition: 0.5s !important;
    font-weight: bold;
}
input:valid~label,
input:focus~label {
    color: #ff000A !important;
    background-color: #fff !important;
    letter-spacing: 2.5px !important;
    transform: translateX(10px) translateY(-12px) !important;
    padding: 0 2px !important;
    text-transform: uppercase !important;
    z-index: 10000;
    font-weight: normal;
}
.form-control, .form-control:focus {
    border: none !important;
    color: none !important;
    background-color: none !important;
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
}